<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="CryptoCurrency ticker">
  <meta name="author" content="Roman Babii">

  <title>Ticker</title>

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <ul th:replace="sidebar::#accordionSidebar"></ul>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <nav th:replace="navigation::#navigation"></nav>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-start mb-4">
            <img th:src="${currency.logoUrl}" class="figure-img rounded" width="40px" height="40px" style="margin-right: 15px">
            <h1 class="h3 mb-0 text-gray-800" th:text="${currency.name}"></h1>
          </div>

          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Capitalization</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${currency.capitalization}"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Day volume</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${currency.dayVolume}"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Info</h6>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group row">
                      <label for="currencyShortName" class="col-sm-4 col-form-label">Symbol</label>
                      <label class="col-sm-8 col-form-label font-weight-bold text-primary" th:text="${currency.symbol}" id="currencyShortName"></label>
                    </div>
                    <div class="form-group row">
                      <label for="currencyFullName" class="col-sm-4 col-form-label">Name</label>
                      <label class="col-sm-8 col-form-label font-weight-bold text-primary" th:text="${currency.name}" id="currencyFullName"></label>
                    </div>
                    <div class="form-group row">
                      <label for="currencyPrice" class="col-sm-4 col-form-label">Price</label>
                      <label class="col-sm-8 col-form-label font-weight-bold text-primary" th:text="'$' + ${currency.priceUSD}" id="currencyPrice"></label>
                    </div>
                    <div class="form-group row">
                      <label for="currencyCirculatingSupply" class="col-sm-4 col-form-label">Circulation supply</label>
                      <label class="col-sm-8 col-form-label font-weight-bold text-primary" th:text="${currency.circulatingSupply}" id="currencyCirculatingSupply"></label>
                    </div>
                    <div class="form-group row">
                      <label for="currencyMaxSupply" class="col-sm-4 col-form-label">Total supply</label>
                      <label class="col-sm-8 col-form-label font-weight-bold text-primary" th:text="${currency.totalSupply}" id="currencyMaxSupply"></label>
                    </div>
                    <div class="form-group row">
                      <label for="currencyPercentChange1h" class="col-sm-4 col-form-label">Price change 1h</label>
                      <label class="col-sm-8 col-form-label font-weight-bold" th:classAppend="${currency.priceChange1h} >= 0 ? text-success : text-danger" th:text="${currency.percentChange1h} + '%'" id="currencyPercentChange1h"></label>
                    </div>
                    <div class="form-group row">
                      <label for="currencyPercentChange1d" class="col-sm-4 col-form-label">Price change 1d</label>
                      <label class="col-sm-8 col-form-label font-weight-bold" th:classAppend="${currency.priceChange1d} >= 0 ? text-success : text-danger" th:text="${currency.percentChange24h} + '%'" id="currencyPercentChange1d"></label>
                    </div>
                    <div class="form-group row">
                      <label for="currencyPercentChange7d" class="col-sm-4 col-form-label">Price change 1w</label>
                      <label class="col-sm-8 col-form-label font-weight-bold" th:classAppend="${currency.priceChange1w} >= 0 ? text-success : text-danger" th:text="${currency.percentChange7d} + '%'" id="currencyPercentChange7d"></label>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Description</h6>
                </div>
                <div class="card-body">
                  <p th:text="${currency.description}"></p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <footer th:replace="footer::#footer"></footer>
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin-2.min.js" th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script src="../static/vendor/datatables/jquery.dataTables.min.js" th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js" th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script src="../static/js/demo/datatables-demo.js" th:src="@{/js/demo/datatables-demo.js}"></script>
</body>

</html>
